.form-control :focus {
    margin-top: 10px;
    box-shadow: 0 0 0 0.2rem rgba(209, 156, 151, 0.25);
}

.note {
    min-height: 10rem;
    width: 100%;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #b3b3b3;
    border-radius: 0;
}

.custom-select:focus {
    border-color: #f8f0ef;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(209, 156, 151, 0.25);
}

.form-group-textarea {}